<div ng-controller="ScheduleCtrl" class="container">
    <div class="col-md-offset-2 col-md-8"">
        <form class="well">
            <h3>Calendar Preferences</h3>
            <label for="repeatSelect">Calls per Week:</label>
            <select name="repeatSelect" id="repeatSelect" ng-model="callsPerWeek">
                <option ng-repeat="option in availableOptions" value="{{option}}">{{option}}</option>
            </select>
        </form>

        <h3>Schedule Sequence</h3>
        <button ng-click="scheduleSequence()">Create</button>
        callsPerWeek: {{callsPerWeek}}
        <table class="table-striped">
            <tr>
                <th>Week</th>
                <th>Names</th>
            </tr>
            <tr ng-repeat="week in weeks">
                <td>{{week}}</td>
                <td>{{finalSequence[week]}}</td>
            </tr>
        </table>
    </div>
</div>
