<div ng-controller="FriendListCtrl" class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
        <h1>Friends</h1>
        Search: <input ng-model="query">

      <table class="table-striped center">
          <tr>
              <th><a href="" ng-click="sortField = 'firstName'; reverse = !reverse">First Name</a></th>
            <th><a href="" ng-click="sortField = 'lastName'; reverse = !reverse">Last Name</a></th>
            <th><a href="" ng-click="sortField = '-stars'; reverse = !reverse">Stars</a></th>
            <th><a href="" ng-click="sortField = '-dateContacted'; reverse = !reverse">Last Date Contacted</a></th>
              <th></th>
          </tr>
          <tr ng-repeat="friend in friends | filter:query | orderBy:sortField:reverse">
            <td>
                <div class="view" ng-if='friend !== editedFriend'>
                    <label ng-dblclick="editFriend(friend)" >{{friend.firstName}}</label>
                </div>
                <form ng-submit="doneEditing(friend)" ng-if='friend == editedFriend'>
                    <input class="edit" ng-model="friend.firstName" friend-blur="doneEditing(friend)" friend-focus="friend == editedFriend">
                </form>
            </td>
              <td>
                  <div class="view" ng-if='friend !== editedFriend'>
                      <label ng-dblclick="editFriend(friend)" >{{friend.lastName}}</label>
                  </div>
                  <form ng-submit="doneEditing(friend)" ng-if='friend == editedFriend'>
                      <input class="edit" ng-model="friend.lastName" friend-blur="doneEditing(friend)" friend-focus="friend == editedFriend">
                  </form>
              </td>
            <td>
                {{friend.stars}}
                <a href="" ng-click="incrementStarsUp(friend)">^</a>
                <a href="" ng-click="incrementStarsDown(friend)">v</a>
            </td>
            <td>{{friend.dateContacted}}</td>
              <td><button class='btn btn-xs btn-danger' ng-click="removeFriend(friend)">X</button></td>
          </tr>
      </table>
            <br>
            <br>

      <form ng-submit="addName()" class="well">
          <h3>Add a friend</h3>
        <label for="text">First Name: </label>
        <input type="text" ng-model="firstName"><br>
        <label for="text">Last Name: </label>
        <input type="text" ng-model="lastName"><br>
        <label for="repeatSelect">Stars:</label>
            <select name="repeatSelect" id="repeatSelect" ng-model="stars">
              <option ng-repeat="option in availableOptions" value="{{option}}">{{option}}</option>
            </select>
        <br>

        <label for="date">Last Contact Date: </label>
        <input type="date" id="date" ng-model="dateContacted"><br>
        <button type="submit">Add</button>
      </form>
    </div>
</div>
</div>
