<div ng-controller="FriendListCtrl" class="container">
    <div class="row">
        <div class="col-md-6">
        <h1>Friends</h1>
        Search: <input ng-model="query">

      <table class="table-striped center">
          <tr>
            <th><a href="" ng-click="sortField = 'lastName'; reverse = !reverse">Name</th>
            <th><a href="" ng-click="sortField = '-stars'; reverse = !reverse">Stars</th>
            <th><a href="" ng-click="sortField = '-dateContacted'; reverse = !reverse">Last Date Contacted</th>
          </tr>
          <tr ng-repeat="friend in friends | filter:query | orderBy:sortField:reverse">
            <td><a href="#/friends/{{friend.id}}">{{friend.firstName + " " + friend.lastName}}</a></td>
            <td>{{friend.stars}}</td>
            <td>{{friend.dateContacted}}</td>
          </tr>
      </table>
      <br>
      <br>


      <form ng-submit="addName()" class="well">
          <h3>Add a friend</h3>
        <label for="text">First Name: </label>
        <input type="text" ng-model="firstName"><br>
        <label for="text">Last Name: </label>
        <input type="text" ng-model="lastName"><br>
        <label for="repeatSelect">Stars:</label>
            <select name="repeatSelect" id="repeatSelect" ng-model="stars">
              <option ng-repeat="option in availableOptions" value="{{option}}">{{option}}</option>
            </select>
        <br>

        <label for="date">Last Contact Date: </label>
        <input type="date" id="date" ng-model="dateContacted"><br>
        <input type="submit" value="add">
      </form>
    </div>

    <div class="col-md-6">
      <form class="well">
          <h3>Calendar Preferences</h3>
          <label for="repeatSelect">Calls per Week:</label>
          <select name="repeatSelect" id="repeatSelect" ng-model="callsPerWeek">
            <option ng-repeat="option in availableOptions" value="{{option}}">{{option}}</option>
          </select>
      </form>

      <h3>Schedule Sequence</h3>
      <button ng-click="scheduleSequence()">Create</button>
      callsPerWeek: {{callsPerWeek}}
        <table class="table-striped">
        <tr>
          <th>Week</th>
          <th>Names</th>
        </tr>
        <tr ng-repeat="week in weeks">
          <td>{{week}}</td>
          <td>{{finalSequence[week]}}</td>
        </tr>
        </table>
    </div>

</div>
